{% extends "base.html" %}

{% block page_header %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ _('Important links') }}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block page %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul>
        {% for link in link_list -%}
          <li>
            <a href="{{ link.url }}" target="_blank">{{ link.title }}</a><br>
          {% if link.description %}<p><em>{{ link.description }}</em></p>{% endif %}
          </li>
        {%- endfor %}
      </ul>
    </div>

  </div>
{% endblock %}