{% extends "base.html" %}

{% block page_header %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ _('Procurement Download') }}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block page %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="registers table-condensed tabled-bordered">
        <tr>
          <th>Country</th>
          <th>Download</th>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-ao"> Angola</td>
            <td><a href="https://www.dropbox.com/sh/lzclv0zbz117e52/AABJQhn-QKslfCnmVzATlmU6a?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-bw"> Botswana</td>
            <td><a href="https://www.dropbox.com/sh/0usijeztez10el6/AAD0Jr2qwEjMUMu_PqcReIkva?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-cd"> DRC</td>
            <td><a href="https://www.dropbox.com/sh/nspqqtqdgk1t4mb/AACJk3R-KgoyGWpKXSO2YIHBa?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-ls"> Lesotho</td>
            <td><a href="https://www.dropbox.com/sh/p9ab28gavg5cv9b/AABL9fyPdp2w42YZbKHg2QLqa?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-mg"> Madagascar</td>
            <td><a href="">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-mw"> Malawi</td>
            <td><a href="https://www.dropbox.com/sh/pr5rddqsrmdqmzn/AABzJWYeKcOB80LEvXi8aBela?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-mu"> Mauritius</td>
            <td><a href="https://www.dropbox.com/sh/5f5tcyjio2l6y2v/AAAO8iySVNjRISEUIVDd3fFBa?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-mz"> Mozambique</td>
            <td><a href="https://www.dropbox.com/sh/0ehpczrv2yfgs2a/AAD4S-yGkAe0rmtjEuLS0b7Qa?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-na"> Namibia</td>
            <td><a href="https://www.dropbox.com/sh/igsasu3srj3m8kh/AABM2fLvWhJdB4a6Vr9XaGWKa?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-sc"> Seychelles</td>
            <td><a href="https://www.dropbox.com/sh/0ehpczrv2yfgs2a/AAD4S-yGkAe0rmtjEuLS0b7Qa?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-za"> South Africa</td>
            <td><a href="https://www.dropbox.com/sh/ekdwssbolzl5p6o/AAB6jTEiCdxWGNHo3JJf_0wya?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-sz"> Swaziland</td>
            <td><a href="https://www.dropbox.com/sh/llodrl6ny1rjxew/AAATzXBjj2a1bm7JHGC_Aia8a?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-tz"> Tanzania</td>
            <td><a href="https://www.dropbox.com/sh/rclp0oqch3g5p0c/AADNf85xIgIj2654sbigbpofa?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-zm"> Zambia</td>
            <td><a href="https://www.dropbox.com/sh/bxvpqtp36qk4h9c/AABpFG6dIVxmJ7hGJQ80GGc2a?dl=0">Download</a></td>
        </tr>
        <tr>
            <td><img src="blank.gif" class="flag flag-zw"> Zimbabwe</td>
            <td><a href="https://www.dropbox.com/sh/cuuaqraut5ai2ou/AADFM9lJ8X2El88jAYT_SfkWa?dl=0">Download</a></td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}


