{% extends "base.html" %}

{% block page_header %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ _('SADC Medicine Registers') }}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block page %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="registers table-condensed tabled-bordered">
        <tr>
          <th>Country</th>
          <th>Register</th>
        </tr>
        {% for country, register, link in registers %}
          <tr>
            <td>{{ country }}</td>
            <td>
              {% if link %}
                <a href="{{ link }}" target="_blank">{{ register }}</a>
              {% else %}
                {{ register }}
              {% endif %}
            </td>
          </tr>
        {%- endfor %}
      </table>
    </div>
  </div>
{% endblock %}

